*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #000;
}

.calculator{
    background-color: #000;
  
    padding: 10px;
    border-radius: 20px;
}
#userinput{
    height: 80px;
    color: #FFFFFF;
    text-align: center;
}
button{
    height: 70px;
    width: 70px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    background-color: #000;
    color: white;
    cursor: pointer;
}
